---
import GitHubProjectsGrid from "~/components/projects/GitHubProjectsGrid.astro";
import ProjectsOverviewGrid from "~/components/projects/ProjectsOverviewGrid.astro";
import Layout from "~/layouts/Root.astro";
import { getRepos } from "~/lib/projects.server";
import { status } from "~/lib/utils";
import { ANIMATE_COLORS_CLASSES } from "~/consts";
import SectionHeader from "~/components/projects/SectionHeader.astro";
const repos = await getRepos(Astro.request);

// nothing to show :( redirect
if (repos.every((r) => r.status === 400)) {
  return redirect(`/?status=${status.octokit}`);
}

const personal = repos[0];
const work = repos[1];
---

<style>
  .text-clamp {
    font-size: clamp(2rem, 33vh, 20vw);
    line-height: 1;
  }
</style>

<Layout
  headProps={{
    title: "BN | Projects",
    description: "A selection of my GitHub projects",
  }}
>
  <div class="flex flex-col gap-8 py-8">
    <section>
      <SectionHeader>
        <h1 class={`${ANIMATE_COLORS_CLASSES} text-clamp`}>Projects</h1>
      </SectionHeader>
      <ProjectsOverviewGrid />
    </section>
    <section>
      <SectionHeader>
        <h2>
          <span class={`${ANIMATE_COLORS_CLASSES} text-clamp`}>Personal</span> GitHub
          Projects
        </h2>
      </SectionHeader>
      <GitHubProjectsGrid data={personal.data} />
    </section>
    <section>
      <SectionHeader>
        <h2>
          <span class={`${ANIMATE_COLORS_CLASSES} text-clamp`}>Work</span> GitHub
          Projects
        </h2>
        <p class="text-sm">
          The following are typically CI items, POC, etc. and are aren't suited
          for production
        </p>
      </SectionHeader>
      <GitHubProjectsGrid data={work.data} />
    </section>
  </div>
</Layout>
