---
import GitHubProjectsGrid from "~/components/projects/GitHubProjectsGrid.astro";
import Grid from "~/components/projects/Grid.astro";
import ProjectsOverviewGrid from "~/components/projects/ProjectsOverviewGrid.astro";
import SectionHeader from "~/components/projects/SectionHeader.astro";
import { ANIMATE_COLORS_CLASSES } from "~/consts";
import Layout from "~/layouts/Root.astro";
import { getRepos } from "~/lib/projects.server";
import { status } from "~/lib/utils";

const repos = await getRepos();

// nothing to show :( redirect
if (repos.every((r) => r.status === 400)) {
  return redirect(`/?status=${status.octokit}`);
}

const personal = repos[0];
const work = repos[1];
---

<style>
  .text-clamp {
    font-size: clamp(2rem, 33vh, 20vw);
    line-height: 1;
  }
</style>

<Layout
  headProps={{
    title: "BN | Projects",
    description: "A selection of my GitHub projects",
  }}
  layoutProps={{ showNav: true }}
>
  <div class="flex flex-col gap-24 py-8">
    <section>
      <SectionHeader>
        <h1 class={`${ANIMATE_COLORS_CLASSES} text-clamp`}>Projects</h1>
      </SectionHeader>
      <ProjectsOverviewGrid server:defer>
        <Grid slot="fallback" class="animate-pulse">
          <div class="bg-dodger-blue-900/50 h-[500px] w-full rounded-xs"></div>
          <div class="bg-dodger-blue-800/50 h-[500px] w-full rounded-xs"></div>
          <div class="bg-dodger-blue-700/50 h-[500px] w-full rounded-xs"></div>
          <div class="bg-dodger-blue-600/50 h-[500px] w-full rounded-xs"></div>
          <div class="bg-dodger-blue-500/50 h-[500px] w-full rounded-xs"></div>
          <div class="bg-dodger-blue-400/50 h-[500px] w-full rounded-xs"></div>
          <div class="bg-dodger-blue-300/50 h-[500px] w-full rounded-xs"></div>
          <div class="bg-dodger-blue-200/50 h-[500px] w-full rounded-xs"></div>
        </Grid>
      </ProjectsOverviewGrid>
    </section>
    <section>
      <SectionHeader>
        <h2>
          <span class={`${ANIMATE_COLORS_CLASSES} text-clamp`}>Personal</span> GitHub
          Projects
        </h2>
      </SectionHeader>
      <GitHubProjectsGrid data={personal.data} server:defer name="personal">
        <Grid slot="fallback" class="animate-pulse">
          <div class="h-[200px] w-full rounded-xs bg-rose-900/50"></div>
          <div class="h-[200px] w-full rounded-xs bg-rose-800/50"></div>
          <div class="h-[200px] w-full rounded-xs bg-rose-700/50"></div>
          <div class="h-[200px] w-full rounded-xs bg-rose-600/50"></div>
          <div class="h-[200px] w-full rounded-xs bg-rose-500/50"></div>
          <div class="h-[200px] w-full rounded-xs bg-rose-400/50"></div>
          <div class="h-[200px] w-full rounded-xs bg-rose-300/50"></div>
          <div class="h-[200px] w-full rounded-xs bg-rose-200/50"></div>
        </Grid>
      </GitHubProjectsGrid>
    </section>
    <section>
      <SectionHeader>
        <h2>
          <span class={`${ANIMATE_COLORS_CLASSES} text-clamp`}>Work</span> GitHub
          Projects
        </h2>
        <p class="text-sm">
          The following are typically CI items, POC, etc. and are aren't suited
          for production
        </p>
      </SectionHeader>
      <GitHubProjectsGrid data={work.data} server:defer name="work">
        <Grid slot="fallback" class="animate-pulse">
          <div class="bg-aquamarine-900/50 h-[200px] w-full rounded-xs"></div>
          <div class="bg-aquamarine-800/50 h-[200px] w-full rounded-xs"></div>
          <div class="bg-aquamarine-700/50 h-[200px] w-full rounded-xs"></div>
          <div class="bg-aquamarine-600/50 h-[200px] w-full rounded-xs"></div>
          <div class="bg-aquamarine-500/50 h-[200px] w-full rounded-xs"></div>
          <div class="bg-aquamarine-400/50 h-[200px] w-full rounded-xs"></div>
          <div class="bg-aquamarine-300/50 h-[200px] w-full rounded-xs"></div>
          <div class="bg-aquamarine-200/50 h-[200px] w-full rounded-xs"></div>
        </Grid>
      </GitHubProjectsGrid>
    </section>
  </div>
</Layout>
