---
import { formatDate } from "~/lib/utils";
import Layout from "~/layouts/Root.astro";
import { getCollection } from "astro:content";
import Card from "~/components/Card.astro";
import { ANIMATE_COLORS_CLASSES } from "~/consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout
  headProps={{
    title: "BN | Blog",
    description: "My thoughts. some complete... others not... 😜",
  }}
  layoutProps={{ showCheckerboard: true }}
>
  <section class="mx-auto flex max-w-xl flex-col gap-8 py-8">
    <h1 class={`text-6xl text-center font-bold ${ANIMATE_COLORS_CLASSES}`}>
      Blog
    </h1>
    {
      posts.map((post) => (
        <Card
          class="flex flex-col gap-2 bg-white p-4"
          as="a"
          href={`/blog/${post.id}`}
        >
          <h2 class="font-barrio text-2xl font-bold">{post.data.title}</h2>
          <p>{post.data.description}</p>
          <p class="text-sm">Published {formatDate(post.data.pubDate)}</p>
        </Card>
      ))
    }
  </section>
</Layout>
