---
import Briefcase from "@tabler/icons/outline/briefcase-2.svg";
import Code from "@tabler/icons/outline/code.svg";
import LinkIcon from "@tabler/icons/outline/link.svg";
import Divider from "~/components/Divider.astro";
import Link from "~/components/Link.astro";
import Grid from "~/components/projects/Grid.astro";
import GridItem from "~/components/projects/GridItem.astro";
import { projects } from "~/lib/projects.resume";
---

<Grid>
  {
    projects.map((project, index) => (
      <GridItem index={index}>
        <div class="flex flex-col">
          <p class="flex items-center gap-2 font-bold">{project.title}</p>
          <div class="flex items-center gap-2 text-sm">
            <p>{project.role}</p>
            <Divider />
            <p class="text-xs italic">
              {Array.isArray(project.timeFrame)
                ? project.timeFrame.join(" - ")
                : project.timeFrame}
            </p>
          </div>
        </div>
        <div class="flex flex-col gap-1">
          {project.employer && (
            <div class="flex items-center gap-2">
              <Briefcase class="h-4 w-4" />
              <p class="text-xs">{project.employer}</p>
            </div>
          )}
          {project.link && (
            <div class="flex items-center gap-2">
              <LinkIcon class="h-4 w-4" />
              <Link href={project.link} class="text-xs">
                View Project
              </Link>
            </div>
          )}
          <div class="flex items-center gap-2">
            <Code class="h-4 w-6" />
            <p class="text-xs">{project.techStack?.join(", ")}</p>
          </div>
        </div>
        <p class="text-sm">{project.description}</p>
      </GridItem>
    ))
  }
</Grid>
