---
import GitFork from "@tabler/icons/outline/git-fork.svg";
import UserCircle from "@tabler/icons/outline/user-circle.svg";
import Divider from "~/components/Divider.astro";
import Link from "~/components/Link.astro";
import type { RepoData } from "~/types/projects";
import CodeLanguage from "./CodeLanguage.astro";

interface Props {
  repo: RepoData[number];
  index: number;
}

const { repo, index } = Astro.props;

const gradientDirections = [
  "bg-gradient-to-br",
  "bg-gradient-to-tr",
  "bg-gradient-to-bl",
  "bg-gradient-to-tl",
  "bg-gradient-to-r",
  "bg-gradient-to-l",
];

function getRandomGradientDirection() {
  return gradientDirections[
    Math.floor(Math.random() * gradientDirections.length)
  ];
}

function getGridPattern(index: number, columns: number) {
  const row = Math.floor(index / columns);
  const isEventRow = row % 2 === 0;
  const position = index % columns;

  if (columns === 2) return isEventRow ? position === 0 : position === 1;
  if (columns === 3)
    return isEventRow ? [0, 2].includes(position) : position === 1;
  if (columns === 4)
    return isEventRow ? [0, 2].includes(position) : [1, 3].includes(position);
}
---

<div
  class:list={[
    "group relative rounded-sm",
    {
      // Base 2-column pattern (mobile)
      "bg-white": getGridPattern(index, 2),
      // 3-column pattern (md)
      "md:bg-transparent": true,
      "md:bg-white": getGridPattern(index, 3),
      // 4-column pattern (lg)
      "lg:bg-transparent": true,
      "lg:bg-white": getGridPattern(index, 4),
    },
  ]}
>
  <div
    class:list={[
      "invisible group-hover:visible",
      "from-sunglow via-aquamarine to-dodger-blue-300 absolute -inset-1 rounded-2xl opacity-70 blur-2xl filter",
      getRandomGradientDirection(),
    ]}
  >
  </div>

  <div class="relative flex h-full flex-col justify-between gap-2 p-4">
    <div class="flex items-center gap-2">
      <div class="flex items-center gap-2 font-bold">
        {repo.fork && <GitFork class="h-4 w-4" />}
        <span>{repo.name}</span>
      </div>
    </div>
    {repo.description && <p>{repo.description}</p>}
    <div class="flex items-center gap-2 text-sm">
      <Link target="_blank" rel="noopener noreferrer" href={repo.html_url}>
        View on Github
      </Link>
      {
        repo.user && (
          <>
            <Divider />
            <Link
              class="flex flex-row justify-center gap-1"
              target="_blank"
              rel="noopener noreferrer"
              href={`https://github.com/${repo.user}`}
            >
              <UserCircle class="h-4 w-4" />
              <span>{repo.user}</span>
            </Link>
          </>
        )
      }
    </div>
    <div
      class="flex w-full flex-col items-center justify-between gap-1 text-xs md:flex-row"
    >
      {
        repo.language && (
          <>
            <CodeLanguage language={repo.language} />
            <Divider />
          </>
        )
      }

      <p>{`Created ${repo.created_at}`}</p>
      <Divider />
      <p>{`Updated ${repo.updated_at}`}</p>
    </div>
  </div>
</div>
